.container {
  max-width: 1064px;
  margin: 0 auto;
}

h2 {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #4A4A4A;
  letter-spacing: 1px;
  line-height: 45px;
  text-align: center;
}

h3 {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.67px;
  line-height: 48px;
  text-decoration: underline;
  text-align: center;
}

p {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.67px;
  line-height: 20px;
}

strong {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 500;
}

.give {
  padding: 180px 0;
  position: relative;
}

.give h2, .give a, footer h2, footer h3{
  z-index: 10;
  position: relative;
}

.big-v {
  background: url(/images/v.png) no-repeat;
  background-size: contain;
  display: block;
  width: 447px;
  height: 711px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
